
.nameBox > label{
    margin-right:200px;
    position: relative;
}
.nameBox > input{
    margin-right: 70px;
}
.DOBbox > input{
    margin-right: 97px;
}
.DOBbox > label{
       margin-right:205px;
    position: relative;
}


form{
    background-color: #cecf8d;
    position:relative;
    padding: 3em;
    margin: 150px;
    border: solid black
}
form > *{
    padding: 1em;
}

.gender > fieldset{
    margin-right: 422px;
}
h1{
    position: absolute;
    top: -15px;
    left: 3%;
}